<div>
  <h1>{{localize "inlineView.help.title"}}</h1>
  <h2>{{localize "inlineView.help.adding"}}</h2>
  <p>
    {{localize "inlineView.help.addingDesc"}}<br />
    <details>
      <summary>{{localize "inlineView.help.image"}}</summary>
      <img src="modules/inlinewebviewer/docs/add.png" alt="{{localize "inlineView.help.add"}}" height="256" />
    </details>
    <br />
  </p>
  <h2>{{localize "inlineView.help.reordering"}}</h2>
  <p>
    {{localize "inlineView.help.reorderingDesc"}}<br />
    <details>
      <summary>{{localize "inlineView.help.image"}}</summary>
      <img src="modules/inlinewebviewer/docs/reorder.png" alt="{{localize "inlineView.help.add"}}" height="256" />
    </details>
    <br />
  </p>
  <h2>{{localize "inlineView.help.datafields.title"}}</h2>
  <h3>{{localize "inlineView.help.datafields.name"}}</h3>
  <p>{{localize "inlineView.help.datafields.nameDesc"}}<br /><br /></p>
  <h3>{{localize "inlineView.help.datafields.url"}}</h3>
  <p>{{localize "inlineView.help.datafields.urlDesc"}}<br /><br /></p>
  <h3>{{localize "inlineView.help.datafields.icon"}}</h3>
  <p>
    {{localize "inlineView.help.datafields.iconDescA"}}&nbsp;<a href="https://fontawesome.com/icons?d=gallery&m=free" target="_blank" rel="noopener">Font Awesome 5</a>
    {{localize "inlineView.help.datafields.iconDescB"}}&nbsp;<code>fas&nbsp;fa-external-link-alt</code> {{localize "inlineView.help.datafields.iconDescC"}}
    <img src="https://raw.githubusercontent.com/FortAwesome/Font-Awesome/master/svgs/solid/external-link-alt.svg" alt="icon" height="16" />&nbsp;)<br /><br />
  </p>
  <h3>{{localize "inlineView.help.datafields.dimensions"}}</h3>
  <p>{{localize "inlineView.help.datafields.dimensionsDesc"}}<br /><br /></p>
  <h3>{{localize "inlineView.help.datafields.compat"}}</h3>
  <p>{{localize "inlineView.help.datafields.compatDesc"}}&nbsp;<strong>{{localize "inlineView.help.datafields.compatWarn"}}</strong><br /><br /></p>
  <h3>{{localize "inlineView.help.datafields.removed"}}</h3>
  <p>
    {{localize "inlineView.help.datafields.removedDescA"}}&nbsp;<code>div&nbsp;&gt;&nbsp;div#cookieBanner</code>) {{localize
    "inlineView.help.datafields.removedDescB"}}&nbsp;<strong>{{localize "inlineView.help.datafields.removeSeparator"}}</strong>
  </p>
  <h3>{{localize "inlineView.help.datafields.properties"}}</h3>
  <p>{{localize "inlineView.help.datafields.propertiesDesc"}}&nbsp;<code>allow="autoplay;camera;microphone"</code></p>
</div>
