{{#if extensionInstalled}}

<div class="footer">
  <footer>
    <i>{{{localize "inlineView.html.loginDisclaimer"}}}</i>
  </footer>
</div>

<div class="frame" style="flex-grow: 100;">
  <{{{antiAVG}}}
    id="{{safeUrl}}"
    width="100%"
    height="100%"
    fakesrc="{{{siteUrl}}}"
    style="border: none;"
    {{{properties}}}>
  </{{{antiAVG}}}>
</div>

{{else if compat}}

<div class="footer">
  <footer>
    <i>{{localize "inlineView.html.compatDisclaimer"}}</i><br />
    <i>{{{localize "inlineView.html.extensionDisclaimer"}}}</i>
  </footer>
</div>

<div class="frame" style="flex-grow: 100;">
  <{{{antiAVG}}}
    is="x-{{{antiAVGBypass}}}-bypass"
    id="{{safeUrl}}"
    width="100%"
    height="100%"
    src="https://cors-anywhere.ardittristan.xyz:9123/vtt/{{{siteUrl}}}"
    {{!-- src="http://localhost:9123/vtt/{{{siteUrl}}}" --}}
    style="border: none;"
    data-customcss="{{{customCSS}}}"
    {{{properties}}}>
  </{{{antiAVG}}}>
</div>

{{else}}

<div class="frame">
  <{{{antiAVG}}}
    id="{{safeUrl}}"
    width="100%"
    height="100%"
    src="{{{siteUrl}}}"
    style="border: none;"
    {{{properties}}}>
  </{{{antiAVG}}}>
</div>

{{/if}}
