{{#if compat}}

<div class="frame" style="min-height: calc(100% - 10px);">
    <iframe
        is="x-frame-bypass"
        id="inlineViewer"
        width="100%"
        height="100%"
        src="https://cors-anywhere.ardittristan.xyz:9123/vtt/{{siteUrl}}"
        style="border: none;">
    </iframe>
</div>

<div id="footer" style="height: 10px; white-space: nowrap;">
    <footer>
        <i>Compatibility mode logs domain names to prevent proxy abuse.</i>
    </footer>
</div>

{{else}}

<div class="frame">
    <iframe
        id="inlineViewer"
        width="100%"
        height="100%"
        src="{{siteUrl}}"
        style="border: none;">
    </iframe>
</div>

{{/if}}
