
<form>
  <div class="input">
    <div>
      <input type="text" placeholder="{{localize "inlineView.html.settings.name"}}" id="shareName" name="shareName" required value="{{name}}" />

      <label class="compatLabel" for="shareCompat">{{localize "inlineView.html.settings.compat"}}</label>
      <input type="checkbox" id="shareCompat" name="shareCompat" title="{{localize "inlineView.html.settings.compatToggle"}}" {{checked compat}} />
    </div>

    <input type="text" placeholder="{{localize "inlineView.html.settings.url"}}*" id="shareUrl" name="shareUrl" required value="{{url}}" />

    <div>
      <input type="number" placeholder="{{localize "inlineView.html.settings.width"}}" id="shareWidth" name="shareWidth" value="{{width}}" />

      <input type="number" placeholder="{{localize "inlineView.html.settings.height"}}" id="shareHeight" name="shareHeight" value="{{height}}" />
    </div>

    <textarea placeholder="{{localize "inlineView.html.settings.removedElements"}}" id="shareCustomCSS" name="shareCustomCSS">{{customcss}}</textarea>

    <input type="text" placeholder="{{localize "inlineView.html.settings.properties"}}*" id="shareProperties" name="shareProperties" value="{{properties}}" />
  </div>
  <table>
    {{#each users}}
    <tr>
      <td>
        <input type="checkbox" id="share{{this.id}}" name="shareCheckbox{{this.id}}" data-userid="{{this.id}}" data-dtype="Checkbox" {{checked "compat"}} />
      </td>
      <td>
        <label for="share{{this.id}}">{{this.name}}</label>
      </td>
    </tr>
    {{/each}}
  </table>
  <div style="display: flex;">
    <button type="submit"> <i class="fas fa-check"></i> </button>
    <button type="button"> <i class="fas fa-times"> </i></button>
  </div>
</form>
