
<form>
  <div>
    <div>
      <input type="url" id="shareUrl" placeholder="url" value="{{url}}" style="width: 100%;" required />
    </div>
    <div>
      <label for="compat">{{localize "inlineView.html.compatBox"}}</label>
      <input type="checkbox" id="compat" style="vertical-align: middle;" />
    </div>
  </div>
  <table>
    {{#each users}}
    <tr>
      <td>
        <input type="checkbox" id="share{{this._id}}" data-userid="{{this._id}}" data-dtype="Checkbox" {{checked "compat"}} />
      </td>
      <td>
        <label for="share{{this._id}}">{{this.name}}</label>
      </td>
    </tr>
    {{/each}}
  </table>
  <div style="display: flex;">
    <button type="submit"> <i class="fas fa-check"></i> </button>
    <button type="reset"> <i class="fas fa-times"> </i></button>
  </div>
</form>
