
<form>
    <div>
        <div>
            <input type="url" id="shareUrl" placeholder="url" style="width: 100%;" required />
        </div>
        <div>
            <label for="compat">{{localize "inlineView.html.compatBox"}}</label>
            <input type="checkbox" id="compat" style="vertical-align: middle;" />
        </div>
    </div>
    <div style="display: flex;">
        <button type="submit"> <i class="fas fa-check"></i> </button>
        <button type="reset"> <i class="fas fa-times"> </i></button>
    </div>
</form>
